body {
  margin: 20px;
}

code {
  background: white;
}

canvas {
  margin: auto;
}
h1, h2 {
  text-align: center;
  color: white;
  background-color: #17202A;
  margin: 0;
}
h2 {
  padding-bottom: 5px;
}
h1{
  padding-top: 5px;
}

.container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  .container {
    flex-direction: row;
  }
}
